* { padding: 0; margin: 0; border: 0; color: white; font-family: "Open Sans", "Helvetica", sans-serif;  }
html, body, #root { width: 100%; height: 100%; overflow: hidden; background: black; }
body, #root { position: relative; }
iframe, a, button { pointer-events: auto; }
button { cursor: pointer; color: white; background: rgba(255,255,255,0); border: 1px solid white; padding: 16px; transition: background .3s; }
button:hover { color: black; background: rgba(255,255,255,1); }
.valign-container { display: table; }
.valign { display: table-cell; vertical-align: middle; }
.valign-bottom { display: table-cell; vertical-align: bottom; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.black-text { color: black; }
.vjs-loading-spinner { display: none !important; }
.fb-share-button { margin: 0 16px; bottom: 5px; }
